h1 {
    color: red;
    letter-spacing: 10px;
    font-size: xxx-large;
    font-family: Arial sans-serif;


}
h3 {
    color: darkslategray;
    font-size: larger;
    font-family: Arial sans-serif ;
}

h4 {
    color: slateblue;
    font-size: larger;
    font-family: Arial sans-serif ;
}